@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  font-family: "Inter", sans-serif;
  background-color: hsl(270, 100%, 98%);
  min-height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.797);
  font-weight: bold;
}
a {
  text-decoration: none;
  /* color: hsl(222, 47%, 11%);1 */
  color: white;
  font-size: 1.3rem;
}

li {
  list-style-type: none;
  margin-left: 0.5rem;
  font-weight: 500;
  color: white;
  /* letter-spacing: 0.1ch; */
}
nav {
  padding: 0 0.7rem;
  flex: 2;
  /* border: solid deeppink; */
  margin-right: 2rem;
}
ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
img {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
input,
button {
  font-weight: bold;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0 1rem 0;
  font-family: inherit;
  font-size: 1rem;
  border: 2px solid #7e22ce;
}
button {
  color: whitesmoke;
  background-color: #7e22ce;
  border-radius: 5px;
}
.logo {
  /* font-size: 2rem; */
  max-width: 10vw;
  /* border: solid orangered; */
}
.header {
  background-color: hsl(272, 72%, 47%);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 960px) {
  .main {
    align-items: center;
  }
}

.footer {
  padding: 1.2rem;
  color: hsl(215, 20%, 65%);
}
.restaurant {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  border: 2px solid hsl(252, 95%, 85%);
  padding: 0.5rem;
  max-width: 400px;
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  border-radius: 3px;
}
.shimmer-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.shimmer {
  padding: 0.5rem;
  max-width: 400px;
  height: 450px;
  margin: 10px;
  background-color: #cbd5e1;
  border-radius: 3px;
}
.shimmer-img,
.shimmer-header,
.shimmer-pills {
  background-color: #475569;
}
.shimmer-img {
  height: 239px;
  width: 380px;
}

.shimmer-header,
.shimmer-pills {
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  width: 90%;
  height: 15px;
}
.shimmer-pills {
  width: 50%;
}
.all-restaurants {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.cuisine-pills {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 0.6rem;
  flex: 2;
}
.pill-item {
  font-size: 0.8rem;
  border-radius: 10px;
  padding: 0.3rem 0.6rem;
  background-color: hsl(274, 66%, 32%);
  color: whitesmoke;
}
.restaurant-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.cost {
  margin-top: 1rem;
  padding-right: 1rem;
  position: absolute;
  bottom: 15px;
}
.image-container {
  position: relative;
}
.rating {
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  top: 6px;
  right: 6px;
  color: white;
  padding: 0.3rem;
  border-radius: 5px;
}
.cost {
  font-size: 1rem;
  color: #1e293b;
}

.restaurant-name {
  text-transform: capitalize;
}

.search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 640px) {
  .search-container {
    width: 100%;
    justify-content: center;
  }
  .search-container > * {
    margin: 1rem 0;
  }
}

.search-container > * {
  margin-right: 2rem;
}

.active-nav {
  /* text-decoration: underline; */
  font-weight: bold;
}

.error-img {
  max-width: 40%;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-container h1 {
  margin: 2rem 0;
}
